<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>
    <h1>
        About
    </h1>
    <p>
        I am working through Astro's introduction.
    </p>
    <p>
        This entire site will update as I complete more of the tutorial.
    </p>
</body>